<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
    <booleanAttribute key="append.args" value="true"/>
    <stringAttribute key="application" value="org.talend.rcp.branding.top.application"/>
    <booleanAttribute key="askclear" value="true"/>
    <booleanAttribute key="automaticAdd" value="true"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="false"/>
    <booleanAttribute key="clearws" value="true"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/TOP_windows"/>
    <booleanAttribute key="default" value="false"/>
    <setAttribute key="deselected_workspace_bundles">
        <setEntry value="org.talend.core"/>
        <setEntry value="org.talend.cwm.mip.editor"/>
        <setEntry value="org.talend.designer.abstractmap"/>
        <setEntry value="org.talend.designer.alfrescooutput"/>
        <setEntry value="org.talend.designer.codegen"/>
        <setEntry value="org.talend.designer.components.libs"/>
        <setEntry value="org.talend.designer.components.localprovider"/>
        <setEntry value="org.talend.designer.core"/>
        <setEntry value="org.talend.designer.dbmap"/>
        <setEntry value="org.talend.designer.filemultischemas"/>
        <setEntry value="org.talend.designer.fileoutputxml"/>
        <setEntry value="org.talend.designer.mapper"/>
        <setEntry value="org.talend.designer.mapper.advanced"/>
        <setEntry value="org.talend.designer.rowgenerator"/>
        <setEntry value="org.talend.designer.runprocess"/>
        <setEntry value="org.talend.designer.scd"/>
        <setEntry value="org.talend.designer.webservice"/>
        <setEntry value="org.talend.expressionbuilder"/>
        <setEntry value="org.talend.helpers"/>
        <setEntry value="org.talend.librariesmanager"/>
        <setEntry value="org.talend.migrationTool"/>
        <setEntry value="org.talend.rcp"/>
        <setEntry value="org.talend.repository"/>
        <setEntry value="org.talend.repository.localprovider"/>
        <setEntry value="org.talend.resources"/>
        <setEntry value="org.talend.sqlbuilder"/>
    </setAttribute>
    <booleanAttribute key="includeOptional" value="true"/>
    <stringAttribute key="location" value="${workspace_loc}/../workspace/data_profiler_runtime"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl}"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="org.talend.rcp.branding.top.product"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="com.ibm.icu@default:default"/>
        <setEntry value="javax.activation@default:default"/>
        <setEntry value="javax.wsdl@default:default"/>
        <setEntry value="javax.xml.rpc@default:default"/>
        <setEntry value="javax.xml.soap@default:default"/>
        <setEntry value="javax.xml@default:default"/>
        <setEntry value="org.antlr.runtime@default:default"/>
        <setEntry value="org.apache.ant@default:default"/>
        <setEntry value="org.apache.axis@default:default"/>
        <setEntry value="org.apache.commons.codec*1.14.0.v20221112-0806@default:default"/>
        <setEntry value="org.apache.commons.discovery@default:default"/>
        <setEntry value="org.apache.commons.httpclient@default:default"/>
        <setEntry value="org.apache.log4j@default:default"/>
        <setEntry value="org.apache.xerces@default:default"/>
        <setEntry value="org.apache.xml.resolver@default:default"/>
        <setEntry value="org.apache.xml.serializer@default:default"/>
        <setEntry value="org.eclipse.ant.core@default:default"/>
        <setEntry value="org.eclipse.compare.core@default:default"/>
        <setEntry value="org.eclipse.compare@default:default"/>
        <setEntry value="org.eclipse.core.commands@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.databinding.observable@default:default"/>
        <setEntry value="org.eclipse.core.databinding.property@default:default"/>
        <setEntry value="org.eclipse.core.databinding@default:default"/>
        <setEntry value="org.eclipse.core.expressions@default:default"/>
        <setEntry value="org.eclipse.core.filebuffers@default:default"/>
        <setEntry value="org.eclipse.core.filesystem@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.net@default:default"/>
        <setEntry value="org.eclipse.core.resources@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.core.variables@default:default"/>
        <setEntry value="org.eclipse.debug.core@default:default"/>
        <setEntry value="org.eclipse.debug.ui@default:default"/>
        <setEntry value="org.eclipse.ecf.filetransfer@default:default"/>
        <setEntry value="org.eclipse.ecf.identity@default:default"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer.ssl@default:false"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer@default:default"/>
        <setEntry value="org.eclipse.ecf.ssl@default:false"/>
        <setEntry value="org.eclipse.ecf@default:default"/>
        <setEntry value="org.eclipse.emf.common.ui@default:default"/>
        <setEntry value="org.eclipse.emf.common@default:default"/>
        <setEntry value="org.eclipse.emf.compare@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.change@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.edit@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.editor@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.xmi@default:default"/>
        <setEntry value="org.eclipse.emf.ecore@default:default"/>
        <setEntry value="org.eclipse.emf.edit.ui@default:default"/>
        <setEntry value="org.eclipse.emf.edit@default:default"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.concurrent@default:default"/>
        <setEntry value="org.eclipse.equinox.http.jetty@default:default"/>
        <setEntry value="org.eclipse.equinox.http.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.http.servlet@default:default"/>
        <setEntry value="org.eclipse.equinox.jsp.jasper.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.jsp.jasper@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.artifact.repository@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.core@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.engine@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.jarprocessor@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.metadata.repository@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.metadata@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.repository@default:default"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.security@default:default"/>
        <setEntry value="org.eclipse.gmf.runtime.notation@default:default"/>
        <setEntry value="org.eclipse.help.base@default:default"/>
        <setEntry value="org.eclipse.help.ui@default:default"/>
        <setEntry value="org.eclipse.help.webapp@default:default"/>
        <setEntry value="org.eclipse.help@default:default"/>
        <setEntry value="org.eclipse.jdt.core.manipulation@default:default"/>
        <setEntry value="org.eclipse.jdt.core@default:default"/>
        <setEntry value="org.eclipse.jdt.debug@default:default"/>
        <setEntry value="org.eclipse.jdt.launching@default:default"/>
        <setEntry value="org.eclipse.jdt.ui@default:default"/>
        <setEntry value="org.eclipse.jface.databinding@default:default"/>
        <setEntry value="org.eclipse.jface.text@default:default"/>
        <setEntry value="org.eclipse.jface@default:default"/>
        <setEntry value="org.eclipse.ltk.core.refactoring@default:default"/>
        <setEntry value="org.eclipse.ltk.ui.refactoring@default:default"/>
        <setEntry value="org.eclipse.osgi.services@default:default"/>
        <setEntry value="org.eclipse.osgi@-1:true"/>
        <setEntry value="org.eclipse.search@default:default"/>
        <setEntry value="org.eclipse.swt@default:default"/>
        <setEntry value="org.eclipse.team.core@default:default"/>
        <setEntry value="org.eclipse.team.ui@default:default"/>
        <setEntry value="org.eclipse.text@default:default"/>
        <setEntry value="org.eclipse.ui.browser@default:default"/>
        <setEntry value="org.eclipse.ui.cheatsheets@default:default"/>
        <setEntry value="org.eclipse.ui.console@default:default"/>
        <setEntry value="org.eclipse.ui.editors@default:default"/>
        <setEntry value="org.eclipse.ui.forms@default:default"/>
        <setEntry value="org.eclipse.ui.ide.application@default:default"/>
        <setEntry value="org.eclipse.ui.ide@default:default"/>
        <setEntry value="org.eclipse.ui.intro@default:default"/>
        <setEntry value="org.eclipse.ui.navigator.resources@default:default"/>
        <setEntry value="org.eclipse.ui.navigator@default:default"/>
        <setEntry value="org.eclipse.ui.views.log@default:default"/>
        <setEntry value="org.eclipse.ui.views.properties.tabbed@default:default"/>
        <setEntry value="org.eclipse.ui.views@default:default"/>
        <setEntry value="org.eclipse.ui.workbench.texteditor@default:default"/>
        <setEntry value="org.eclipse.ui.workbench@default:default"/>
        <setEntry value="org.eclipse.ui@default:default"/>
        <setEntry value="org.eclipse.update.configurator@3:true"/>
        <setEntry value="org.eclipse.xsd@default:default"/>
        <setEntry value="org.hamcrest.core@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="net.sourceforge.sqlexplorer@default:default"/>
        <setEntry value="org.eclipse.nebula.widgets.grid@default:default"/>
        <setEntry value="org.talend.bigdata.se.test.base@default:default"/>
        <setEntry value="org.talend.camel.designer.codegen@default:default"/>
        <setEntry value="org.talend.camel.designer@default:default"/>
        <setEntry value="org.talend.camel.model@default:default"/>
        <setEntry value="org.talend.common.ui.runtime.test@default:false"/>
        <setEntry value="org.talend.common.ui.runtime@default:default"/>
        <setEntry value="org.talend.commons.runtime.test@default:false"/>
        <setEntry value="org.talend.commons.runtime@default:default"/>
        <setEntry value="org.talend.commons.ui.test@default:false"/>
        <setEntry value="org.talend.commons.ui@default:default"/>
        <setEntry value="org.talend.core.repository.test@default:false"/>
        <setEntry value="org.talend.core.repository@default:default"/>
        <setEntry value="org.talend.core.runtime.test@default:false"/>
        <setEntry value="org.talend.core.runtime@default:default"/>
        <setEntry value="org.talend.core.test@default:false"/>
        <setEntry value="org.talend.core.ui.test@default:false"/>
        <setEntry value="org.talend.core.ui@default:default"/>
        <setEntry value="org.talend.cwm.compare.test@default:false"/>
        <setEntry value="org.talend.cwm.compare.ui@default:default"/>
        <setEntry value="org.talend.cwm.compare@default:default"/>
        <setEntry value="org.talend.cwm.management.test@default:false"/>
        <setEntry value="org.talend.cwm.management@default:default"/>
        <setEntry value="org.talend.cwm.mip.edit@default:default"/>
        <setEntry value="org.talend.cwm.mip@default:default"/>
        <setEntry value="org.talend.dataprofiler.common.ui@default:default"/>
        <setEntry value="org.talend.dataprofiler.core.test@default:false"/>
        <setEntry value="org.talend.dataprofiler.core@default:default"/>
        <setEntry value="org.talend.dataprofiler.help@default:default"/>
        <setEntry value="org.talend.dataprofiler.migration@default:default"/>
        <setEntry value="org.talend.dataprofiler.rcp@default:default"/>
        <setEntry value="org.talend.dataprofiler.service@default:default"/>
        <setEntry value="org.talend.dataprofiler.top.chart.test@default:false"/>
        <setEntry value="org.talend.dataprofiler.top.chart@default:default"/>
        <setEntry value="org.talend.dataquality.edit@default:default"/>
        <setEntry value="org.talend.dataquality.matching.test@default:false"/>
        <setEntry value="org.talend.dataquality.matching@default:default"/>
        <setEntry value="org.talend.dataquality.record.linkage.ui.test@default:false"/>
        <setEntry value="org.talend.dataquality.record.linkage.ui@default:default"/>
        <setEntry value="org.talend.dataquality.standardization.migration@default:default"/>
        <setEntry value="org.talend.dataquality.test@default:false"/>
        <setEntry value="org.talend.dataquality@default:default"/>
        <setEntry value="org.talend.datatools.xml.test@default:false"/>
        <setEntry value="org.talend.datatools.xml@default:default"/>
        <setEntry value="org.talend.demo.bigdata.ce@default:default"/>
        <setEntry value="org.talend.designer.bigdata.di@default:default"/>
        <setEntry value="org.talend.designer.camel.components.localprovider@default:default"/>
        <setEntry value="org.talend.designer.camel.dependencies.core@default:default"/>
        <setEntry value="org.talend.designer.camel.resource.core@default:default"/>
        <setEntry value="org.talend.designer.camel.resource@default:default"/>
        <setEntry value="org.talend.designer.codegen.test@default:false"/>
        <setEntry value="org.talend.designer.components.bigdata@default:default"/>
        <setEntry value="org.talend.designer.components.localprovider.test@default:default"/>
        <setEntry value="org.talend.designer.core.generic.test@default:false"/>
        <setEntry value="org.talend.designer.core.generic@default:default"/>
        <setEntry value="org.talend.designer.core.swt@default:false"/>
        <setEntry value="org.talend.designer.core.test@default:false"/>
        <setEntry value="org.talend.designer.dbmap.test@default:false"/>
        <setEntry value="org.talend.designer.documentation@default:default"/>
        <setEntry value="org.talend.designer.esb.components.router@default:default"/>
        <setEntry value="org.talend.designer.esb.components.rs.consumer@default:default"/>
        <setEntry value="org.talend.designer.esb.components.rs.provider@default:default"/>
        <setEntry value="org.talend.designer.esb.components.ws.consumer@default:default"/>
        <setEntry value="org.talend.designer.esb.components.ws.provider@default:default"/>
        <setEntry value="org.talend.designer.esb.routines@default:default"/>
        <setEntry value="org.talend.designer.gefabstractmap@default:default"/>
        <setEntry value="org.talend.designer.hdfsbrowse@default:default"/>
        <setEntry value="org.talend.designer.mapper.swt@default:false"/>
        <setEntry value="org.talend.designer.mapper.test@default:false"/>
        <setEntry value="org.talend.designer.maven.aether@default:default"/>
        <setEntry value="org.talend.designer.maven.job@default:default"/>
        <setEntry value="org.talend.designer.maven.repo.tck@default:default"/>
        <setEntry value="org.talend.designer.maven.repo.tcksdk@default:default"/>
        <setEntry value="org.talend.designer.maven.repo.tcompv0@default:default"/>
        <setEntry value="org.talend.designer.maven.test@default:false"/>
        <setEntry value="org.talend.designer.maven.tos@default:false"/>
        <setEntry value="org.talend.designer.maven.ui@default:default"/>
        <setEntry value="org.talend.designer.maven@default:default"/>
        <setEntry value="org.talend.designer.neo4j@default:default"/>
        <setEntry value="org.talend.designer.oas@default:default"/>
        <setEntry value="org.talend.designer.publish.core@default:default"/>
        <setEntry value="org.talend.designer.rowgenerator.test@default:false"/>
        <setEntry value="org.talend.designer.runprocess.test@default:false"/>
        <setEntry value="org.talend.designer.runtime.visualization.tools@default:default"/>
        <setEntry value="org.talend.designer.runtime.visualization@default:default"/>
        <setEntry value="org.talend.designer.scd.test@default:false"/>
        <setEntry value="org.talend.designer.tutorials@default:default"/>
        <setEntry value="org.talend.designer.unifiedcomponent.test@default:false"/>
        <setEntry value="org.talend.designer.unifiedcomponent@default:default"/>
        <setEntry value="org.talend.designer.webservice.test@default:false"/>
        <setEntry value="org.talend.designer.xmlmap.test@default:false"/>
        <setEntry value="org.talend.designer.xmlmap@default:default"/>
        <setEntry value="org.talend.developpement@default:default"/>
        <setEntry value="org.talend.esb.camel.designer.codegen.test@default:false"/>
        <setEntry value="org.talend.esb.camel.designer.test@default:false"/>
        <setEntry value="org.talend.esb.designer.camel.dependencies.core.test@default:false"/>
        <setEntry value="org.talend.esb.designer.camel.resource.core.test@default:false"/>
        <setEntry value="org.talend.esb.designer.esb.routines.test@default:false"/>
        <setEntry value="org.talend.esb.repository.services.test@default:false"/>
        <setEntry value="org.talend.esb.repository.view.route.test@default:false"/>
        <setEntry value="org.talend.expressionbuilder.test@default:false"/>
        <setEntry value="org.talend.hadoop.distribution.cdh6x@default:default"/>
        <setEntry value="org.talend.hadoop.distribution.cdp@default:default"/>
        <setEntry value="org.talend.hadoop.distribution.custom.test@default:false"/>
        <setEntry value="org.talend.hadoop.distribution.custom@default:default"/>
        <setEntry value="org.talend.hadoop.distribution.dbr550.test@default:false"/>
        <setEntry value="org.talend.hadoop.distribution.dbr550@default:default"/>
        <setEntry value="org.talend.hadoop.distribution.dbr640.test@default:false"/>
        <setEntry value="org.talend.hadoop.distribution.dbr640@default:default"/>
        <setEntry value="org.talend.hadoop.distribution.dbr73x.test@default:false"/>
        <setEntry value="org.talend.hadoop.distribution.dbr73x@default:default"/>
        <setEntry value="org.talend.hadoop.distribution.emr5290.test@default:false"/>
        <setEntry value="org.talend.hadoop.distribution.emr5290@default:default"/>
        <setEntry value="org.talend.hadoop.distribution.emr62x@default:default"/>
        <setEntry value="org.talend.hadoop.distribution.hdinsight400.test@default:false"/>
        <setEntry value="org.talend.hadoop.distribution.hdinsight400@default:default"/>
        <setEntry value="org.talend.hadoop.distribution.hdpx@default:default"/>
        <setEntry value="org.talend.hadoop.distribution.synapse.test@default:false"/>
        <setEntry value="org.talend.hadoop.distribution.synapse@default:default"/>
        <setEntry value="org.talend.hadoop.distribution.test.base@default:default"/>
        <setEntry value="org.talend.hadoop.distribution.test@default:false"/>
        <setEntry value="org.talend.hadoop.distribution@default:default"/>
        <setEntry value="org.talend.help.external@default:default"/>
        <setEntry value="org.talend.libraries.apache.axis2@default:default"/>
        <setEntry value="org.talend.libraries.apache.chemistry@default:default"/>
        <setEntry value="org.talend.libraries.apache.common@default:default"/>
        <setEntry value="org.talend.libraries.apache.cxf@default:default"/>
        <setEntry value="org.talend.libraries.apache.http@default:default"/>
        <setEntry value="org.talend.libraries.apache.lucene8@default:default"/>
        <setEntry value="org.talend.libraries.apache.lucene@default:default"/>
        <setEntry value="org.talend.libraries.apache.xml@default:default"/>
        <setEntry value="org.talend.libraries.apache@default:default"/>
        <setEntry value="org.talend.libraries.bigquery@default:default"/>
        <setEntry value="org.talend.libraries.clearspring.analytics@default:default"/>
        <setEntry value="org.talend.libraries.css@default:default"/>
        <setEntry value="org.talend.libraries.csv@default:default"/>
        <setEntry value="org.talend.libraries.custom@default:default"/>
        <setEntry value="org.talend.libraries.dom4j-jaxen@default:default"/>
        <setEntry value="org.talend.libraries.edifact@default:default"/>
        <setEntry value="org.talend.libraries.ehcache@default:default"/>
        <setEntry value="org.talend.libraries.esb@default:default"/>
        <setEntry value="org.talend.libraries.excel@default:default"/>
        <setEntry value="org.talend.libraries.ftp@default:default"/>
        <setEntry value="org.talend.libraries.google.libphonumber@default:default"/>
        <setEntry value="org.talend.libraries.google.re2j@default:default"/>
        <setEntry value="org.talend.libraries.groovy@default:default"/>
        <setEntry value="org.talend.libraries.hadoop@default:default"/>
        <setEntry value="org.talend.libraries.jackson@default:default"/>
        <setEntry value="org.talend.libraries.javacsv.jars@default:false"/>
        <setEntry value="org.talend.libraries.javacsv.test@default:false"/>
        <setEntry value="org.talend.libraries.javacsv@default:default"/>
        <setEntry value="org.talend.libraries.jax@default:default"/>
        <setEntry value="org.talend.libraries.jboss.jars@default:false"/>
        <setEntry value="org.talend.libraries.jboss@default:default"/>
        <setEntry value="org.talend.libraries.jdbc.h2@default:default"/>
        <setEntry value="org.talend.libraries.jdbc.hsql@default:default"/>
        <setEntry value="org.talend.libraries.jdbc.mysql@default:default"/>
        <setEntry value="org.talend.libraries.jexcel.jars@default:false"/>
        <setEntry value="org.talend.libraries.jexcel@default:default"/>
        <setEntry value="org.talend.libraries.jfreechart.jars@default:false"/>
        <setEntry value="org.talend.libraries.jfreechart@default:default"/>
        <setEntry value="org.talend.libraries.json@default:default"/>
        <setEntry value="org.talend.libraries.jung@default:default"/>
        <setEntry value="org.talend.libraries.jxplorer@default:default"/>
        <setEntry value="org.talend.libraries.mapdb@default:default"/>
        <setEntry value="org.talend.libraries.mdm@default:default"/>
        <setEntry value="org.talend.libraries.microsoft@default:default"/>
        <setEntry value="org.talend.libraries.mondrian@default:default"/>
        <setEntry value="org.talend.libraries.mozilla@default:default"/>
        <setEntry value="org.talend.libraries.neo4j@default:default"/>
        <setEntry value="org.talend.libraries.netsuite@default:default"/>
        <setEntry value="org.talend.libraries.palo@default:default"/>
        <setEntry value="org.talend.libraries.persist.lookup@default:default"/>
        <setEntry value="org.talend.libraries.salesforce@default:default"/>
        <setEntry value="org.talend.libraries.slf4j@default:default"/>
        <setEntry value="org.talend.libraries.sqlbuilder.jars@default:false"/>
        <setEntry value="org.talend.libraries.sqlbuilder@default:default"/>
        <setEntry value="org.talend.libraries.ui@default:default"/>
        <setEntry value="org.talend.libraries.uniserv@default:default"/>
        <setEntry value="org.talend.libraries.w3c@default:default"/>
        <setEntry value="org.talend.libraries.xml@default:default"/>
        <setEntry value="org.talend.libraries.zmq@default:default"/>
        <setEntry value="org.talend.librariesmanager.test@default:false"/>
        <setEntry value="org.talend.librariesmanager.ui.test@default:false"/>
        <setEntry value="org.talend.librariesmanager.ui@default:default"/>
        <setEntry value="org.talend.maven.resolver@default:default"/>
        <setEntry value="org.talend.metadata.managment.test@default:false"/>
        <setEntry value="org.talend.metadata.managment.ui.test@default:false"/>
        <setEntry value="org.talend.metadata.managment.ui@default:default"/>
        <setEntry value="org.talend.metadata.managment@default:default"/>
        <setEntry value="org.talend.migrationTool.test@default:false"/>
        <setEntry value="org.talend.model.edit@default:default"/>
        <setEntry value="org.talend.model.test@default:false"/>
        <setEntry value="org.talend.model@default:default"/>
        <setEntry value="org.talend.osgi.lib.loader@default:false"/>
        <setEntry value="org.talend.platform.logging@default:default"/>
        <setEntry value="org.talend.presentation.onboarding.resource.test@default:false"/>
        <setEntry value="org.talend.presentation.onboarding.resource.tos@default:default"/>
        <setEntry value="org.talend.presentation.onboarding.resource@default:default"/>
        <setEntry value="org.talend.presentation.onboarding@default:default"/>
        <setEntry value="org.talend.rcp.branding.esbstandard@default:default"/>
        <setEntry value="org.talend.rcp.branding.top@default:default"/>
        <setEntry value="org.talend.rcp.branding.tos.bigdata@default:default"/>
        <setEntry value="org.talend.rcp.branding.tos@default:default"/>
        <setEntry value="org.talend.registration@default:default"/>
        <setEntry value="org.talend.repository.bigquery@default:default"/>
        <setEntry value="org.talend.repository.ftp@default:default"/>
        <setEntry value="org.talend.repository.generic.test@default:false"/>
        <setEntry value="org.talend.repository.generic@default:default"/>
        <setEntry value="org.talend.repository.hadoopcluster.configurator.test@default:false"/>
        <setEntry value="org.talend.repository.hadoopcluster.configurator@default:default"/>
        <setEntry value="org.talend.repository.hadoopcluster.test@default:false"/>
        <setEntry value="org.talend.repository.hadoopcluster@default:default"/>
        <setEntry value="org.talend.repository.hbaseprovider@default:default"/>
        <setEntry value="org.talend.repository.hcatalog@default:default"/>
        <setEntry value="org.talend.repository.hdfs.test@default:false"/>
        <setEntry value="org.talend.repository.hdfs@default:default"/>
        <setEntry value="org.talend.repository.items.importexport.test@default:false"/>
        <setEntry value="org.talend.repository.items.importexport.ui.test@default:false"/>
        <setEntry value="org.talend.repository.items.importexport.ui@default:default"/>
        <setEntry value="org.talend.repository.items.importexport@default:default"/>
        <setEntry value="org.talend.repository.json.test@default:false"/>
        <setEntry value="org.talend.repository.json@default:default"/>
        <setEntry value="org.talend.repository.localprovider.test@default:false"/>
        <setEntry value="org.talend.repository.maprdbprovider.test@default:false"/>
        <setEntry value="org.talend.repository.maprdbprovider@default:default"/>
        <setEntry value="org.talend.repository.mdm@default:default"/>
        <setEntry value="org.talend.repository.metadata.test@default:false"/>
        <setEntry value="org.talend.repository.metadata@default:default"/>
        <setEntry value="org.talend.repository.nosql.test@default:false"/>
        <setEntry value="org.talend.repository.nosql@default:default"/>
        <setEntry value="org.talend.repository.resource@default:default"/>
        <setEntry value="org.talend.repository.services@default:default"/>
        <setEntry value="org.talend.repository.test@default:false"/>
        <setEntry value="org.talend.repository.view.di.test@default:false"/>
        <setEntry value="org.talend.repository.view.di@default:default"/>
        <setEntry value="org.talend.repository.view.example@default:default"/>
        <setEntry value="org.talend.repository.view.route@default:default"/>
        <setEntry value="org.talend.repository.view.test@default:false"/>
        <setEntry value="org.talend.repository.view@default:default"/>
        <setEntry value="org.talend.resources.export.route@default:default"/>
        <setEntry value="org.talend.sdk.component.studio-integration.test@default:false"/>
        <setEntry value="org.talend.sdk.component.studio-integration@default:default"/>
        <setEntry value="org.talend.signon.util@default:default"/>
        <setEntry value="org.talend.spark.distribution.spark24x@default:default"/>
        <setEntry value="org.talend.spark.distribution.spark30x@default:default"/>
        <setEntry value="org.talend.spark.distribution.spark31x@default:default"/>
        <setEntry value="org.talend.spark.distribution.spark32x@default:default"/>
        <setEntry value="org.talend.spark.distribution.spark33x@default:default"/>
        <setEntry value="org.talend.spark.distribution.spark34x@default:default"/>
        <setEntry value="org.talend.sqlbuilder.test@default:false"/>
        <setEntry value="org.talend.studio.components.bd.cosmosdb@default:default"/>
        <setEntry value="org.talend.studio.components.bd.couchbase@default:default"/>
        <setEntry value="org.talend.studio.components.tck.jdbc@default:default"/>
        <setEntry value="org.talend.studio.components.tck.jira@default:default"/>
        <setEntry value="org.talend.studio.components.tck.splunk@default:default"/>
        <setEntry value="org.talend.studio.components.tcompv0.azurestorage@default:default"/>
        <setEntry value="org.talend.studio.components.tcompv0.couchbase@default:default"/>
        <setEntry value="org.talend.studio.components.tcompv0.googledrive@default:default"/>
        <setEntry value="org.talend.studio.components.tcompv0.marketo@default:default"/>
        <setEntry value="org.talend.studio.components.tcompv0.marklogic@default:default"/>
        <setEntry value="org.talend.studio.components.tcompv0.netsuite@default:default"/>
        <setEntry value="org.talend.studio.components.tcompv0.salesforce@default:default"/>
        <setEntry value="org.talend.studio.components.tcompv0.snowflake@default:default"/>
        <setEntry value="org.talend.testutils@default:default"/>
        <setEntry value="org.talend.themes.core@default:default"/>
        <setEntry value="org.talend.themes.css.talend@default:default"/>
        <setEntry value="org.talend.updates.runtime.test@default:false"/>
        <setEntry value="org.talend.updates.runtime@default:default"/>
        <setEntry value="org.talend.utils.test@default:false"/>
        <setEntry value="org.talend.utils@default:default"/>
        <setEntry value="test.all.test.suite@default:default"/>
        <setEntry value="test.myudi@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <stringAttribute key="templateConfig" value="${target_home}\configuration\config.ini"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
    <booleanAttribute key="useProduct" value="true"/>
    <booleanAttribute key="usefeatures" value="false"/>
</launchConfiguration>
